## Preprocessing

In [57]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df["ASK_AMT"][5].dtype

dtype('int64')

In [58]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis = 1)
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [59]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [60]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [61]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T14","T25","T15","T29","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [62]:
# Look at CLASSIFICATION value counts for binning
value_count = application_df["CLASSIFICATION"].value_counts()
value_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1570        1
C2600        1
C8210        1
C2380        1
C4500        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [63]:
# You may find it helpful to look at CLASSIFICATION value counts >1
Over1 = value_count[value_count > 1]
Over1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C2710        3
C1260        3
C0           3
C3200        2
C1246        2
C1256        2
C1267        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [64]:
Over15 = value_count[value_count > 15].index
Over15

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500'],
      dtype='object')

In [65]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = value_count[value_count < 115].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: CLASSIFICATION, dtype: int64

In [66]:
# Convert categorical data to numeric with `pd.get_dummies`
categorized = pd.get_dummies(application_df, columns = ['APPLICATION_TYPE','CLASSIFICATION','AFFILIATION', 'USE_CASE', 'ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])
categorized

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [67]:
# Split our preprocessed data into our features and target arrays
X=categorized.drop('IS_SUCCESSFUL', axis = 1).values
y= categorized['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [68]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [76]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

input_features = len(X_train_scaled[0])

# Add our first Dense layer, including the input layer
nn.add(tf.keras.layers.Dense(units=4, activation="relu", input_dim=input_features))

nn.add(tf.keras.layers.Dense(units=4, activation='relu'))

# Add the output layer that uses a probability activation function
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the Sequential model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 4)                 192

 dense_10 (Dense)            (None, 4)                 20

 dense_11 (Dense)            (None, 1)                 5

=================================================================
Total params: 217
Trainable params: 217
Non-trainable params: 0
_________________________________________________________________

In [77]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [78]:
fit_nn = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6471 - accuracy: 0.6567
Epoch 2/100
804/804 [==============================] - 1s 958us/step - loss: 0.5723 - accuracy: 0.7224
Epoch 3/100
804/804 [==============================] - 1s 986us/step - loss: 0.5649 - accuracy: 0.7242
Epoch 4/100
804/804 [==============================] - 1s 953us/step - loss: 0.5625 - accuracy: 0.7250
Epoch 5/100
804/804 [==============================] - 1s 961us/step - loss: 0.5613 - accuracy: 0.7254
Epoch 6/100
804/804 [==============================] - 1s 989us/step - loss: 0.5606 - accuracy: 0.7247
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7262
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7257
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5584 - accuracy: 0.7257
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5579 - accuracy: 0.7246
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7271
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7288
Epoch 13/100
804/804 [==============================] - 1s 976us/step - loss: 0.5543 - accuracy: 0.7289
Epoch 14/100
804/804 [==============================] - 1s 966us/step - loss: 0.5541 - accuracy: 0.7287
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7297
Epoch 16/100
804/804 [==============================] - 1s 967us/step - loss: 0.5534 - accuracy: 0.7277
Epoch 17/100
804/804 [==============================] - 1s 972us/step - loss: 0.5531 - accuracy: 0.7288
Epoch 18/100
804/804 [==============================] - 1s 975us/step - loss: 0.5529 - accuracy: 0.7287
Epoch 19/100
804/804 [==============================] - 1s 970us/step - loss: 0.5530 - accuracy: 0.7285
Epoch 20/100
804/804 [==============================] - 1s 954us/step - loss: 0.5524 - accuracy: 0.7297
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7291
Epoch 22/100
804/804 [==============================] - 1s 960us/step - loss: 0.5522 - accuracy: 0.7301
Epoch 23/100
804/804 [==============================] - 1s 959us/step - loss: 0.5520 - accuracy: 0.7304
Epoch 24/100
804/804 [==============================] - 1s 1000us/step - loss: 0.5520 - accuracy: 0.7286
Epoch 25/100
804/804 [==============================] - 1s 969us/step - loss: 0.5517 - accuracy: 0.7298
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7297
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7283
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7285
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7299
Epoch 30/100
804/804 [==============================] - 1s 969us/step - loss: 0.5516 - accuracy: 0.7289
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7285
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7291
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7289
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7278
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7301
Epoch 36/100
804/804 [==============================] - 1s 901us/step - loss: 0.5511 - accuracy: 0.7290
Epoch 37/100
804/804 [==============================] - 1s 902us/step - loss: 0.5510 - accuracy: 0.7278
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7276
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7292
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7287
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7282
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7292
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7291
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7290
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7289
Epoch 46/100
804/804 [==============================] - 1s 997us/step - loss: 0.5509 - accuracy: 0.7285
Epoch 47/100
804/804 [==============================] - 1s 976us/step - loss: 0.5504 - accuracy: 0.7289
Epoch 48/100
804/804 [==============================] - 1s 909us/step - loss: 0.5507 - accuracy: 0.7288
Epoch 49/100
804/804 [==============================] - 1s 955us/step - loss: 0.5507 - accuracy: 0.7290
Epoch 50/100
804/804 [==============================] - 1s 942us/step - loss: 0.5504 - accuracy: 0.7283
Epoch 51/100
804/804 [==============================] - 1s 916us/step - loss: 0.5505 - accuracy: 0.7290
Epoch 52/100
804/804 [==============================] - 1s 997us/step - loss: 0.5505 - accuracy: 0.7296
Epoch 53/100
804/804 [==============================] - 1s 971us/step - loss: 0.5506 - accuracy: 0.7286
Epoch 54/100
804/804 [==============================] - 1s 976us/step - loss: 0.5505 - accuracy: 0.7294
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7290
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7282
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7285
Epoch 58/100
804/804 [==============================] - 1s 947us/step - loss: 0.5505 - accuracy: 0.7275
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7294
Epoch 60/100
804/804 [==============================] - 1s 981us/step - loss: 0.5503 - accuracy: 0.7292
Epoch 61/100
804/804 [==============================] - 1s 993us/step - loss: 0.5501 - accuracy: 0.7301
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7287
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7294
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7295
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7292
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7299
Epoch 67/100
804/804 [==============================] - 1s 981us/step - loss: 0.5500 - accuracy: 0.7293
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7294
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7301
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7295
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7297
Epoch 72/100
804/804 [==============================] - 1s 893us/step - loss: 0.5498 - accuracy: 0.7297
Epoch 73/100
804/804 [==============================] - 1s 979us/step - loss: 0.5497 - accuracy: 0.7303
Epoch 74/100
804/804 [==============================] - 1s 966us/step - loss: 0.5498 - accuracy: 0.7289
Epoch 75/100
804/804 [==============================] - 1s 952us/step - loss: 0.5498 - accuracy: 0.7297
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7289
Epoch 77/100
804/804 [==============================] - 1s 947us/step - loss: 0.5498 - accuracy: 0.7296
Epoch 78/100
804/804 [==============================] - 1s 932us/step - loss: 0.5497 - accuracy: 0.7293
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7297
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7305
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7297
Epoch 82/100
804/804 [==============================] - 1s 952us/step - loss: 0.5497 - accuracy: 0.7296
Epoch 83/100
804/804 [==============================] - 1s 937us/step - loss: 0.5497 - accuracy: 0.7308
Epoch 84/100
804/804 [==============================] - 1s 927us/step - loss: 0.5497 - accuracy: 0.7296
Epoch 85/100
804/804 [==============================] - 1s 958us/step - loss: 0.5495 - accuracy: 0.7293
Epoch 86/100
804/804 [==============================] - 1s 959us/step - loss: 0.5496 - accuracy: 0.7291
Epoch 87/100
804/804 [==============================] - 1s 930us/step - loss: 0.5495 - accuracy: 0.7296
Epoch 88/100
804/804 [==============================] - 1s 934us/step - loss: 0.5497 - accuracy: 0.7289
Epoch 89/100
804/804 [==============================] - 1s 926us/step - loss: 0.5497 - accuracy: 0.7294
Epoch 90/100
804/804 [==============================] - 1s 936us/step - loss: 0.5497 - accuracy: 0.7308
Epoch 91/100
804/804 [==============================] - 1s 938us/step - loss: 0.5496 - accuracy: 0.7290
Epoch 92/100
804/804 [==============================] - 1s 951us/step - loss: 0.5496 - accuracy: 0.7291
Epoch 93/100
804/804 [==============================] - 1s 981us/step - loss: 0.5496 - accuracy: 0.7299
Epoch 94/100
804/804 [==============================] - 1s 926us/step - loss: 0.5496 - accuracy: 0.7292
Epoch 95/100
804/804 [==============================] - 1s 978us/step - loss: 0.5494 - accuracy: 0.7299
Epoch 96/100
804/804 [==============================] - 1s 934us/step - loss: 0.5493 - accuracy: 0.7295
Epoch 97/100
804/804 [==============================] - 1s 926us/step - loss: 0.5496 - accuracy: 0.7297
Epoch 98/100
804/804 [==============================] - 1s 938us/step - loss: 0.5496 - accuracy: 0.7298
Epoch 99/100
804/804 [==============================] - 1s 925us/step - loss: 0.5494 - accuracy: 0.7288
Epoch 100/100
804/804 [==============================] - 1s 948us/step - loss: 0.5495 - accuracy: 0.7294

In [79]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7268 - 320ms/epoch - 1ms/step
Loss: 0.5563759207725525, Accuracy: 0.7267638444900513

In [80]:
# Export our model to HDF5 file
# serialize model to JSON
model_json = nn.to_json()
with open("AlphabetSoupCharity", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
nn.save_weights("AlphabetSoupCharity.h5")